@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="Section">
    <MudButton Variant="Variant.Outlined" Color="Color.Primary">
        Start!
    </MudButton>
    <Button class="bg-blue-500 px-4 py-3" style="margin-outside: 5px"> Button </Button>
</div>